@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer {
  html,
  body {
    height: 100%;
    color: black;
  }

  #__next {
    height: 100%;
  }
}

.tabPanelsContainer {
  width: 100%; /* Default to 100% width */
  margin: 0 auto; /* Center the container horizontally */
}

@media (min-width: 1600px) {
  .tabPanelsContainer {
    width: 90%; /* Set width to 80% */
    margin: 0 auto; /* Center the container horizontally */
    padding: 0 10%; /* Set padding on left and right to 10% */
  }
}

@media (min-width: 2000px) {
  .tabPanelsContainer {
    width: 80%; /* Set width to 80% */
    margin: 0 auto; /* Center the container horizontally */
    padding: 0 10%; /* Set padding on left and right to 10% */
  }
}
